@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    *::selection{
        @apply text-secondary-teal;
    }
    li{
        @apply my-4 leading-6;
    }
    p{
        @apply leading-6;
    }
    body{
        @apply overflow-x-hidden;
    }
    code::selection{
        @apply text-white
    }
    .primary{
        @apply text-white
    }
    .navLink{
        @apply hover:underline decoration-primary-teal text-center decoration-2 active:underline underline-offset-8 rounded-full p-2 cursor-pointer hover:font-bold capitalize hover:scale-110 transition-transform duration-200 ease-out  w-auto
    }
    .category{
        @apply px-4 py-2 text-sm font-semibold text-center text-gray-100 rounded-full cursor-pointer bg-primary-teal hover:bg-secondary-teal;
    }
    .category::selection{
        @apply text-gray-100;
    }
}

.navBar{
    background-color: rgba(#3a3a3a, 0.9);;
    backdrop-filter: blur(10px);
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(140, 140, 140, 0.44);
    z-index: 5;
}

code[class*="language-"],
pre[class*="language-"] {
    background-color: transparent !important;
}