@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    *::selection{
        @apply text-secondary-teal;
    }
    li{
        @apply my-4 leading-6;
    }
    p{
        @apply leading-6;
    }
    body{
        @apply overflow-x-hidden;
    }
    code::selection{
        @apply text-white
    }
    .primary{
        @apply text-white
    }
    .icons{
        @apply p-3 transition-all duration-700 ease-in-out bg-transparent border rounded-full cursor-pointer border-primary-teal hover:bg-primary-teal;
    }
    .icons svg{
        @apply w-5 h-5;
    }
    .navLink{
        @apply hover:underline decoration-primary-teal text-center decoration-2 active:underline underline-offset-8 rounded-full p-2 cursor-pointer hover:font-bold capitalize hover:scale-110 transition-transform duration-200 ease-out  w-auto
    }
    .cateContainer::-webkit-scrollbar{
        @apply hidden;
    }
    .category{
        @apply w-auto px-4 py-2 text-sm font-semibold text-center text-gray-100 rounded-full cursor-pointer bg-primary-teal hover:bg-secondary-teal;
    }
    .category::selection{
        @apply text-gray-100;
    }
    .cateBtn{
        @apply px-3 py-2 transition-all duration-700 ease-in-out bg-transparent border rounded-full outline-none border-primary-teal hover:bg-primary-teal;
    }
    .codeBlock{
        @apply block p-6 overflow-y-auto my-6 transition-all border border-gray-100 border-opacity-40 bg-[#252526] ease-in-out duration-500 rounded-md hover:border-opacity-100;
    }
    .searchInput{
        @apply w-full outline-none bg-transparent border-b border-primary-black text-primary-black
    }

    .inputBox{
        @apply w-full py-3 bg-transparent border-b outline-none border-primary-black dark:border-gray-100 placeholder:text-gray-500 placeholder:opacity-40;
    }
    .inputBox::selection{
        @apply text-primary-black dark:text-gray-100 bg-primary-teal;
    }
    .pageTitle{
        @apply text-4xl font-[700] my-4 border-l-4 border-primary-teal pl-3 hover:border-secondary-teal transition-all duration-700 ease-in-out
    }
    .sidebar{
        @apply relative flex flex-col items-start;
    }
    .sidebar__content{
        @apply w-full mt-5;
    }
    .sidebar__content ul{
        @apply flex flex-col;
    }
    .sidebar__content ul li{
        @apply flex items-center pb-2 transition-all duration-500 ease-in-out border-b border-opacity-50 cursor-pointer border-primary-teal hover:border-opacity-100;
    }
    .sidebar__content ul li svg{
        @apply mr-3;
    }
    .snippet{
        @apply relative flex flex-col w-full px-3 py-3 mb-5 transition-all duration-700 ease-in-out border border-gray-400 rounded-md cursor-pointer border-opacity-20 hover:border-opacity-100 hover:shadow-md hover:bg-primary-black hover:bg-opacity-20 dark:hover:bg-gray-500 dark:hover:bg-opacity-20;
    }
    .snippet h2{
        @apply font-[700] text-xl mb-4;
    }
    .snippet p{
        @apply text-[15px] text-primary-black dark:text-gray-400 text-opacity-70 italic;
    }
    .rectangle{
        @apply p-3 rounded-full bg-primary-teal w-[20px] h-[25px] animate-pulse  absolute -right-2 -top-2;
    }
    
}

.rec.rec-arrow{
    background-color: #2B6168;
    color: white;
}

.kXteup:hover:enabled, .kXteup:focus:enabled{
    background-color: #2D8995;
}

.navBar{
    background-color: rgba(#3a3a3a, 0.9);;
    backdrop-filter: blur(10px);
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(140, 140, 140, 0.44);
    z-index: 5;
}

code[class*="language-"],
pre[class*="language-"] {
    background-color: transparent !important;
}